<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="text-center">
  <input type="hidden" name="cmd" value="_donations">
  <input type="hidden" name="business" value="HGKV2EEL4U4T4">
  <input type="hidden" name="lc" value="FR">
  <input type="hidden" name="item_name" value="IOPixel">
  <input type="image" src="paypal-button.png" name="submit" alt="Donate with PayPal!" width="245" />
  <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>

